<!doctype html>
<html>
  
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title><%= content_for?(:title) ? yield(:title) : "Myapp" %></title>
      <meta name="description" content="">
      <meta name="author" content="">
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
    </head>

    <body class="<%= controller_name %> <%= action_name %>">  
      <div class="wrapper">
        <header>
            <a id="home_logo" href="/">BOOSTBUNDLE</a>
            <div id="header_options">         
              <%= render 'layouts/navigation' %>
            </div>
        </header>


        <%= yield %>  
      </div> 
    </body>

    <footer>
      <div class="s_font" id="footer_holder">
        © boostbundle 
      </div>
    </footer>
</html>





